[Desktop Entry]
Type=Application
Name=@DISPLAY_NAME@
Comment=Linux Mod Manager
Exec=amethyst-mod-manager %u
Icon=@APPLICATION_ID@
Categories=Game;Utility;
Terminal=false
StartupWMClass=amethyst-mod-manager
